@page "/fetchdata"
@inject HttpClient Http
@attribute [Authorize]

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Todos is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsDone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Todos)
            {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Name</td>
                <td>@todo.Done</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<TodoDTO> Todos;

    protected override async Task OnInitializedAsync()
    {
        Todos = await Http
        .GetFromJsonAsync<IEnumerable<TodoDTO>>("Todo");
    }

    public record TodoDTO(Guid Id, string Name, bool Done);
}
